<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CineStream</title>
<link rel="stylesheet" type="text/css" href="/index.css"> <!-- Corrected path -->
</head>
<body>
    <div class="header">
        <nav>
            <p><span>C</span>INESTREAM</p>
            <div>
                <button class="language-btn">English<img src="https://res.cloudinary.com/dsqyxk24i/image/upload/v1720085480/stut3nhnvb1kqgcekacq.png"> </button>
                <button><a href="/signin">SIGN IN</a></button> <!-- Corrected URL -->
            </div>
        </nav>
        <div class="header-content">
            <h1>Unlimited movies, TV shows and more.</h1>
            <h3>Watch anywhere. Cancel anytime.</h3>
            <p>Ready to watch? Click here to signup or signin.</p>
            <form class="email-signup" action="/signup" method="get"> <!-- Corrected URL -->
                <button type="submit">Get Started</button>
            </form>
        </div>
    </div>
</body>
</html>